/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(255, 252, 249);
}
/* per simulare smarthphone */
body {
    width: 512px;
    /* border: 2px dashed black; */
}
#titolone {
    text-shadow: 2px 2px lightcoral;
    padding: 15px;
    display: flex;
    justify-content: center; /* Allineamento orizzontale */
    align-items: center; /* Allineamento verticale */
}
.pinco-pallo {
    border: 2px solid black;
    margin: 15px 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 5px darkcyan;
    /* background-color: antiquewhite; */
}
#piede {
    margin: 5px 10px;
    padding: 10px 10px;
    display: flex;
    justify-content: center; /* Allineamento orizzontale */
    align-items: center; 
    border: 2px solid darkcyan;
    box-shadow: 5px 10px rgb(1, 178, 178);
    border-radius: 10px;
}
p {
    color: darkcyan;
}
h2 {
    color: rgb(0, 110, 110);
}
h1 {
    color: rgb(0, 80, 80);
}
hr {
    border: 2px dotted rgb(0, 43, 43);
}