/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* per simulare smarthphone */
body {
    width: 512px;
    /* border: 2px dashed black; */
}
#titolone {
    padding: 15px;
    display: flex;
    justify-content: center; /* Allineamento orizzontale */
    align-items: center; /* Allineamento verticale */
}
.pinco-pallo {
    border: 2px solid black;
    margin: 15px 30px;
    padding: 20px;
    background-color: antiquewhite;
}
#piede {
    padding: 5px 15px;
}
p {
    color: darkcyan;
}
h2 {
    color: rgb(0, 110, 110);
}
h1 {
    color: rgb(0, 80, 80);
}
hr {
    border: 2px solid rgb(0, 43, 43);
}