/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* per simulare smarthphone */
body {
    width: 512px;
    /* border: 2px dashed black; */
}
#titolone {
    padding: 15px;
    display: flex;
    justify-content: center; /* Allineamento orizzontale */
    align-items: center; /* Allineamento verticale */
}
.pinco-pallo {
    border: 2px solid black;
    margin: 15px 30px;
    padding: 20px;
}